a {
    color: inherit;
}
.main {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	text-align: left;
  	font-size: 80px;
  	color: #fff;
  	font-family: 'Work Sans';
}
.hero-section {
  	align-self: stretch;
  	height: 732.9px;
  	border-radius: 0px 0px 16px 16px;
  	background-color: #3b4bb1;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 100px 40px;
  	box-sizing: border-box;
}
.content {
  	width: 100%;
  	display: flex;
  	align-items: center;
  	gap: 80px;
  	max-width: 1500px;
}
.block {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.text {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.team-1-still {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.08em;
  	line-height: 100%;
}
.build-momentum-without {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	letter-spacing: -0.04em;
  	line-height: 110%;
}
.image-icon {
  	width: 429px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.team-section {
  	align-self: stretch;
  	height: 750px;
  	background-color: #7a88ed;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	font-size: 21.83px;
  	font-family: 'Plus Jakarta Sans';
}
.macbook-air-1 {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	background-color: #9da6f8;
}
.meet-the-team {
  	position: absolute;
  	top: 92.24px;
  	left: calc(50% - 178px);
  	font-size: 50.31px;
}
.image-1-parent {
  	position: absolute;
  	top: 246.51px;
  	left: 240px;
  	width: 248.3px;
  	height: 352px;
}
.image-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px 20px 0px 0px;
  	width: 248px;
  	height: 206px;
  	object-fit: cover;
}
.alexia-sargsyan {
  	position: absolute;
  	top: 259.85px;
  	left: calc(50% - 81.15px);
  	font-weight: 500;
}
.project-lead {
  	position: absolute;
  	top: 230.46px;
  	left: calc(50% - 43.15px);
  	font-size: 14.06px;
  	font-weight: 500;
  	color: #e5e5e5;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20.08px;
  	border: 0.9px solid #fff;
  	box-sizing: border-box;
  	width: 248.3px;
  	height: 352px;
}
.group-item {
  	position: absolute;
  	top: 309.71px;
  	left: 86.45px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.group-inner {
  	position: absolute;
  	top: 309.71px;
  	left: 113.46px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.rectangle-div {
  	position: absolute;
  	top: 309.71px;
  	left: 140.47px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.s-blob-v1-image-u-mbybpsj3a-1-parent {
  	position: absolute;
  	top: 246.51px;
  	left: 516px;
  	width: 248.6px;
  	height: 352px;
}
.erica-wang {
  	position: absolute;
  	top: 259.85px;
  	left: calc(50% - 58.3px);
  	font-weight: 500;
}
.project-lead2 {
  	position: absolute;
  	top: 230.46px;
  	left: calc(50% - 43.3px);
  	font-size: 14.06px;
  	font-weight: 500;
  	color: #e5e5e5;
}
.group-child2 {
  	position: absolute;
  	top: 0px;
  	left: 0.25px;
  	border-radius: 20.08px;
  	border: 0.9px solid #fff;
  	box-sizing: border-box;
  	width: 248.3px;
  	height: 352px;
}
.group-child3 {
  	position: absolute;
  	top: 309.71px;
  	left: 86.7px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.group-child4 {
  	position: absolute;
  	top: 309.71px;
  	left: 113.71px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.group-child5 {
  	position: absolute;
  	top: 309.71px;
  	left: 140.72px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.s-blob-v1-image-yarvwebsfak-1-parent {
  	position: absolute;
  	top: 246.51px;
  	left: 792px;
  	width: 249px;
  	height: 352px;
}
.s-blob-v1-image-yarvwebsfak-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px 20px 0px 0px;
  	width: 249px;
  	height: 206px;
  	object-fit: cover;
}
.sherwin-riahi {
  	position: absolute;
  	top: 259.85px;
  	left: calc(50% - 68.5px);
  	font-weight: 500;
}
.product-lead {
  	position: absolute;
  	top: 230.46px;
  	left: calc(50% - 45.5px);
  	font-size: 14.06px;
  	font-weight: 500;
  	color: #e5e5e5;
}
.group-child6 {
  	position: absolute;
  	top: 0px;
  	left: 0.49px;
  	border-radius: 20.08px;
  	border: 0.9px solid #fff;
  	box-sizing: border-box;
  	width: 248.3px;
  	height: 352px;
}
.group-child7 {
  	position: absolute;
  	top: 309.71px;
  	left: 86.94px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.group-child8 {
  	position: absolute;
  	top: 309.71px;
  	left: 113.95px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.group-child9 {
  	position: absolute;
  	top: 309.71px;
  	left: 140.96px;
  	border-radius: 5.03px;
  	background-color: #d9d9d9;
  	width: 21.4px;
  	height: 21.4px;
}
.services-section {
  	align-self: stretch;
  	background-color: #7a88ed;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	font-size: 40px;
}
.intro-section {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 120px 40px 100px;
  	box-sizing: border-box;
  	max-width: 1500px;
  	font-size: 15px;
}
.content2 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 28px;
  	max-width: 100%;
}
.our-core-ideology {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 100%;
  	font-weight: 500;
  	font-family: 'DM Sans';
}
.build-long-term {
  	width: 857.4px;
  	position: relative;
  	font-size: 60px;
  	letter-spacing: -0.07em;
  	line-height: 105%;
  	text-align: center;
  	display: inline-block;
}
.support-flexible-consistency {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	letter-spacing: -0.04em;
  	line-height: 110%;
  	text-align: center;
}
.button-on-light {
  	border-radius: 51.57px;
  	background-color: #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	cursor: pointer;
  	font-size: 12px;
  	color: #000;
}
.connect-with-our {
  	position: relative;
  	letter-spacing: -0.04em;
  	line-height: 110%;
  	font-weight: 500;
}
.section-1 {
  	width: 100%;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 20px 0px 20px 20px;
  	box-sizing: border-box;
  	max-width: 1500px;
}
.card {
  	width: 1036px;
  	border-radius: 20px;
  	background-color: #9da6f8;
  	display: flex;
  	align-items: center;
  	padding: 80px 100px 80px 80px;
  	box-sizing: border-box;
  	gap: 70px;
}
.image-2-icon {
  	width: 290px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.content3 {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 70px;
}
.text2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 40px;
}
.create-a-goal {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.04em;
  	line-height: 105%;
}
.labels {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	gap: 10px;
  	font-size: 12px;
  	color: #506349;
}
.labels2 {
  	border-radius: 8px;
  	background-color: #e2e3e8;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
}
.section-2 {
  	width: 100%;
  	display: flex;
  	align-items: flex-start;
  	justify-content: flex-end;
  	padding: 20px 20px 20px 0px;
  	box-sizing: border-box;
  	max-width: 1500px;
}
.card2 {
  	width: 1044px;
  	border-radius: 20px;
  	background-color: #9da6f8;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	padding: 80px;
  	box-sizing: border-box;
  	gap: 70px;
}
.image-3-icon {
  	width: 273px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.section-3 {
  	width: 100%;
  	display: flex;
  	align-items: flex-start;
  	padding: 20px 0px 20px 20px;
  	box-sizing: border-box;
  	max-width: 1500px;
}
.card3 {
  	width: 1020px;
  	border-radius: 20px;
  	background-color: #9da6f8;
  	display: flex;
  	align-items: center;
  	padding: 80px;
  	box-sizing: border-box;
  	gap: 70px;
}
.image-break-section {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.feature-cards-1 {
  	align-self: stretch;
  	background-color: #9da6f8;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 120px 64px;
  	gap: 80px 32px;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.card-1 {
  	flex: 1;
  	border-radius: 8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 32px;
  	min-width: 336px;
  	max-width: 388px;
}
.image-5-icon {
  	width: 363px;
  	position: relative;
  	border-radius: 16px;
  	max-height: 100%;
  	object-fit: cover;
}
.text5 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.gr1-needfinding {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	font-weight: 600;
}
.exploring-the-space {
  	align-self: stretch;
  	position: relative;
  	font-size: 18px;
  	line-height: 145%;
  	font-weight: 500;
  	color: rgba(0, 0, 0, 0.55);
}
.labels13 {
  	border-radius: 8px;
  	background-color: #e2e3e8;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	cursor: pointer;
  	font-size: 12px;
  	color: #506349;
  	font-family: 'Work Sans';
}
.image-8-icon {
  	width: 363px;
  	height: 204px;
  	position: relative;
  	border-radius: 16px;
  	object-fit: cover;
}
.labels-parent {
  	display: flex;
  	align-items: center;
  	gap: 20px;
  	font-size: 12px;
  	color: #506349;
  	font-family: 'Work Sans';
}
.labels15 {
  	border-radius: 8px;
  	background-color: #e2e3e8;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	cursor: pointer;
}
.labels-wrapper {
  	display: flex;
  	align-items: center;
  	font-size: 12px;
  	color: #506349;
  	font-family: 'Work Sans';
}
.card-10 {
  	width: 363px;
  	border-radius: 8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 32px;
  	min-width: 336px;
  	max-width: 388px;
}
.experts-section {
  	align-self: stretch;
  	background-color: #7a88ed;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 160px 120px;
  	text-align: center;
  	font-size: 60px;
}
.content6 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 60px;
  	max-width: 1500px;
}
.we-believe-that {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.07em;
  	line-height: 105%;
}
.large-button {
  	border-radius: 88px;
  	background-color: #3a4ab1;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 24px 30px;
  	cursor: pointer;
  	font-size: 15px;
  	font-family: 'DM Sans';
}
.connect-with-our2 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 100%;
  	font-weight: 500;
}

